---

---

<section id="about" class="about">
  <div class="container">
    <h2 tabindex="0">Sobre Nosotros</h2>
    <div class="about-content">
      <div class="about-text">
        <p tabindex="0">
          Somos una tienda comprometida con ofrecer calzado de calidad y estilo
          para todas las edades y gustos. Con años de experiencia en el mercado,
          nos enorgullece brindar a nuestros clientes una selección
          cuidadosamente curada de zapatos que combinan comodidad, durabilidad y
          moda.
        </p>
        <br>
        <p tabindex="0">
          Nuestro equipo de expertos está dedicado a ayudarte a encontrar el par
          perfecto para cada ocasión, ya sea para el trabajo, el ocio o eventos
          especiales.
        </p>
      </div>
      <div class="about-image">
        <img src="/images/about-us.jpg" alt="Nuestro equipo en la tienda" tabindex="0"/>
      </div>
    </div>
  </div>
</section>

<!-- <style>
    .about-content {  
    display: flex;  
    flex-direction: column; /* Cambia esto a row si prefieres el contenido en fila */  
    align-items: center; /* Centrar horizontalmente */  
    text-align: center; /* Centrar el texto */  
}  

.about-image img {  
    max-width: 30em; /* Ajusta el tamaño deseado */  
    height: auto; /* Mantiene la proporción original */  
    display: block; /* Asegura que la imagen sea un bloque */  
    margin: 0 auto; /* Centra la imagen si se encuentra en un contenedor flexible */  
}  
</style> -->
