---

---

<footer class="footer">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <p class="sr-only" tabindex="0">
          A continuación se mostrará un footer con información sobre redes sociales y enlaces rápidos.
        </p>
        <img
          src="/images/logo.jpg"
          alt="Logo de la Tienda de Zapatos"
          tabindex="0"
        />
        <p tabindex="0">Tu Mejor Paso</p>
      </div>
      <nav class="footer-nav">
        <h3 tabindex="0">Enlaces Rápidos</h3>
        <ul>
          <li><a href="#hero" tabindex="0">Inicio</a></li>
          <li><a href="#about" tabindex="0">Sobre Nosotros</a></li>
          <li><a href="#products" tabindex="0">Productos</a></li>
          <li><a href="#promotions" tabindex="0">Promociones</a></li>
          <li><a href="#testimonials" tabindex="0">Testimonios</a></li>
          <li><a href="#contact" tabindex="0">Contacto</a></li>
        </ul>
      </nav>
      <div class="footer-social">
        <h3 tabindex="0">Síguenos</h3>
        <a href="#" aria-label="Facebook" tabindex="0"
          ><i class="fab fa-facebook"></i></a
        >
        <a href="#" aria-label="Instagram" tabindex="0"
          ><i class="fab fa-instagram"></i></a
        >
        <a href="#" aria-label="Twitter" tabindex="0"
          ><i class="fab fa-twitter"></i></a
        >
      </div>
    </div>
    <div class="footer-bottom">
      <p tabindex="0">
        &copy; 2024 Tienda de Zapatos. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
