---

---

<header>
  <nav>
    <ul>
      <li>
        <a href="#hero" aria-label="Ir a la sección de inicio" tabindex="0"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="#about"
          aria-label="Ir a la sección sobre nosotros"
          tabindex="0">Sobre Nosotros</a
        >
      </li>
      <li>
        <a
          href="#products"
          aria-label="Ir a la sección de productos"
          tabindex="0">Productos</a
        >
      </li>
      <li>
        <a
          href="#promotions"
          aria-label="Ir a la sección de promociones"
          tabindex="0">Promociones</a
        >
      </li>
      <li>
        <a
          href="#testimonials"
          aria-label="Ir a la sección de testimonios"
          tabindex="0">Testimonios</a
        >
      </li>
      <li>
        <a href="#contact" aria-label="Ir a la sección de contacto" tabindex="0"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
