---

---

<section id="hero" class="hero">
  <h1 tabindex="0">Bienvenidos a nuestra Tienda de Zapatos</h1>
  <p tabindex="0">Encuentra los mejores zapatos para cada ocasión</p>
  <img
    src="/images/hero-image.jpg"
    alt="Imagen de zapatos destacados"
    tabindex="0"
  />
</section>
